/* TIMHOBERT'S BASE STYLES */

body {
	font-family: 'SourceSansProLight', 'Source Sans Pro', sans-serif;
	font-size: 0.9375em;
	font-weight: normal;
	font-weight: 300;
	line-height: 1.5;
	word-wrap: break-word;
}

img {
	border: 0; /* Removes border when inside 'a' element in IE6/7/8/9 FF3. */
	-ms-interpolation-mode: bicubic; /* Improves image quality when scaled in IE7. */
	width: auto; /* IE8 bug. Requires this to work properly with max-width in scaling images. */
	display: block; /* a little crazy, but lets give it a try */
}


/* Font Sizes */

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	font-weight: 300;
	line-height: 1.2em;
	margin: 0 0 15px;
	padding: 0;
}

h1, h2, h3, h4, h5, h6, .by-line {
	margin: 0 0 15px;
}

h1 {
	font-size: 3em;
}

h2, .view-grouping-header {
	font-size: 2em;
}

h3 {
	font-size: 1.5em;
}

h4, h5, h6, #block-views-news-block h2.block-title {
	font-size: 1.15em;
}

p, .field {
	margin: 0 0 1.5em;
}

.submitted, .by-line {
	margin-bottom: 1em;
}

.block p:last-child {
	margin-bottom: 0;
}

a {
	text-decoration: none;
}

a:focus {
	outline: thin dotted;
}

a:hover, a:active {
	outline: 0;
}

a.active, a.active-trail {
	font-weight: bold;
}


/* menus and item lists */

.item-list ul, .item-list ul li, ul.menu, ul.menu li, ul.inline li {
	margin: 0;
	padding: 0;
	list-style: none;
}

ul.menu li {
	display: inline-block;
	margin: 0 5px;
}

ul.menu li, #topbar {
	line-height: 40px;
}

ul.menu li a {
	padding: 0 5px;
}

ul.inline {
	clear: both;
}

li ul, li ol {
	margin: 0;
}

ul, ol {
	margin: 0 1.5em 1.5em 0;
	padding-left: 1.5em;
}

.content-wrapper ul, .content-wrapper ol {
	margin: 1.5em 0 1.25em;
	padding: 0 0 0 2em;
}

ul {
	list-style-type: disc;
}

ol {
	list-style-type: decimal;
}

dl {
	margin: 0 0 1.5em;
}

dl dt {
	font-weight: 700;
}

dd {
	margin-left: 1.5em;
}

fieldset {
	background: rgba(0,0,0,0.02);
	border: 1px solid rgba(0,0,0,0.1);
	border-radius: 3px;
	margin: 0.5em 0;
	padding: 0.5em;
}

table {
	max-width: 100%;
	width: 100% !important;
	margin: 1.5em 0;
}

th, tr, td {
	vertical-align: middle;
}

th, td {
	padding: 10px;
	position: relative;
	border: 1px solid #dedede;
}

.sticky-header th, .sticky-table th {
	border-bottom: 3px solid rbga(0,0,0,0.1);
	padding-right: 1em;
	text-align: left;
}


/* FORMS */

input, input[type="password"], input[type="text"], input[type="email"], textarea, select, .button, button {
	max-width: 100%;
	line-height: 1.1em;
	padding: 8px 10px 7px;
	height: auto;
	border-radius: 3px;
	border: 1px solid rgba(0, 0, 0, 0.2);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
}

input[type="submit"], .button, button {
	cursor: pointer;
	color: white;
	margin: 15px 10px 0 0;
	text-transform: uppercase;
	letter-spacing: 1px;
	box-shadow: none;
	font-size: 11px;
}

input[type="submit"]:active, .button:active, button:active {
	padding: 9px 10px 6px;
}

html.js input.form-autocomplete {
	background-position: 100% 9px;
}

html.js input.throbbing {
	background-position: 100% -18px;
}

.form-item label {
	margin: 0 0 5px;
}

.form-item .description {
	padding: 5px;
}

/* Per Safari’s CSS Reference: 
	https://developer.apple.com/library/safari/documentation/appleapplications/reference/SafariCSSRef/Articles/StandardCSSProperties.html
	iOS changes the appearance of buttons & controls to resemble a native apple UI. 
	Add this code for comment & search forms to retain custom CSS styles:  */
	input[type="submit"], input[type="password"], input[type="text"], input[type="email"] {
	-webkit-appearance:none;
}


/* Drupal-specific */

.views-row {
	margin: 0;
	padding: 1em 0;
}

li.views-row {
	list-style: none;
}

.block, section {
	padding: 0;
	margin: 0 0 1.5em;
}

.block:last-child, section:last-child {
	margin-bottom: 0;
}

.field-label, .views-label {
	font-weight: bold;
	font-weight: 700;
}

.views-field-edit-node, .edit-link {
	position: absolute;
	top: 7px;
	right: 7px;
	font-size: 11px;
	z-index: 2;
}

div.messages, .breadcrumb, ul.pager {
	margin: 1em 0;
}

.breadcrumb {
	padding: 0;
}


/* Display nones */

.hidden, .element-invisible, #site-name-slogan, #topbar .block-title {
	display: none;
}


/* Pseudo-WYSIWYG */

.float-left {
	float: left;
}

.float-right {
	float: right;
}


/* BACKGROUNDS */

body, #main-nav {
	background: #ffffff; 			/* white */
}

#header #block-views-news-block {
	background: rgba(255,255,255,0.25);	/* white -- 25% opacity */
}

#header .container {
	background: url('/sites/all/themes/nyc_theme/images/nycc_masthead.png') scroll no-repeat center center transparent;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#topbar, #footer {
	background: #023e6b; 			/* main color - dark blue */
}

#header, .button, button {
	background: #5091cd; 			/* main color - base blue */
}

.button:hover, button:hover {
	background: #579edf; 			/* main color - base blue - lighter */
}

.button:active, button:active {
	background: #4883b9; 			/* main color - base blue - darker */
}

#main-prefix, #main-suffix {
	background: #E6EEFF; 			/* main color - extralight blue */
}

input[type="submit"] {
	background: #e00074; 			/* pink */
}

input[type="submit"]:hover {
	background: #f0007c; 			/* lighter pink */
}

input[type="submit"]:active {
	background: #cb0069; 			/* darker pink */
}


/* FONT COLORS */

body, #block-views-news-block h2.block-title {
	color: #303133; 				/* Text color dark */
}

a {
	color: #5091CD; 				/* Main color base - blue */
}

#topbar, #topbar a, #header, #header a, #footer, #footer a {
	color: #ffffff; 				/* white */
}

.form-item .description {
	color: #666F80;					/* Text color medium */
}

a.active, a.active-trail {
	color: #000000;					/* Text color black */
}


/* FLEXBOX -- A modern grid */

.group, #main-suffix .container {
	position: relative;
	display: -webkit-box;           /* OLD - iOS 6-, Safari 3.1-6 */
	display: -moz-box;              /* OLD - Firefox 19- (doesn't work very well) */
	display: -ms-flexbox;           /* TWEENER - IE 10 */
	display: -webkit-flex;          /* NEW - Chrome */
	display: flex;                  /* NEW, Spec - Opera 12.1, Firefox 20+ */
}

.group > div, #main-suffix .container > .block {
	margin: 0;
	padding: 1em 2em 1em 0;
}

.group > div:last-child, #main-suffix .container > .block:last-child {
	padding-right: 0;
}

