// LAYOUTS

/* A modern clearfix for IE8 and up. Per http://css-tricks.com/snippets/css/clear-fix; */
.topbar:after, .main-nav:after, .header:after, .main:after, .main-prefix:after, .main-suffix:after, .main-suffix .block:after, .group:after, .block:after, .container:after {
	content: "";
	display: table;
	clear: both;
}

.container {
	width: 94%;
	margin: 0 auto;
	max-width: 1200px;
	min-width: 1024px;
}

.topbar, .main-nav, .header, .main, .main-prefix, .main-suffix, .footer {
	width: 100%;
}

.header, .main, .footer, .region, .container, .block, .views-row {
	position: relative;
}

.main-nav, .main, .main-prefix, .main-suffix, .footer {
	padding: 1em 0;
}

.main {
	min-height: 200px;
}


/* Topbar */

.topbar .block {
	float: right;
}

.topbar #block-menu-menu-social {
	float: left;
}

.topbar .block, .topbar input {
	margin: 0;
	border: none;
}

.topbar input {
	padding: 6px 10px 7px;
}

.topbar input[type="submit"] {
	margin: 0;
}


/* Main-nav */

#logo, #site-name-slogan {
	float: left;
	margin: 0 2em 0 0;
}

.main-nav .block {
	float: right;
}

#logo {
	width: 100px;
}

#site-name {
	font-size: 26px;
	font-weight: 700;
	margin: 0;
	padding: 0;
	line-height: 1em;
}

.main-nav, .header {
	border-bottom: 1px solid #ddd;
}

/* Header */

.header .container {
	width: 100%;
	max-width: 100%;
}

.header #block-views-news-block {
	padding: 1em;
	float: right;
	width: 32%;
}

#block-views-news-block .views-row {
	padding: 0;
}


/* Flexslider */

.flexslider .views-field-body {
	position: absolute;
	top: 10%;
	right: 5%;
	width: 50%;
	font-size: 1.5em;
}

.flexslider h1, .flexslider h2, .flexslider h3, .flexslider h4 {
	margin: 0 0 20px;
	line-height: 1.1em;
}

.flexslider .views-row {
	margin: 0;
	padding: 0;
}


/* Front page custom content */

._teaser-main [class*=-icon] img {
	width: 10%;
	margin: 0 4% 0 0;
}

._teaser-main [class*=-info] {
	margin: 0 0 0 14%;
}

h1.teaser--h1 {
	margin: 0;
}


/* Footer */

.social-networks {
	margin-right: 1em;
}

#block-block-2, #block-block-5, .node-links ul.links li {
	font-size: 0.875em;
	margin: 3px 0 0;
	text-transform: uppercase;
	letter-spacing: 0.05em;
	font-weight: 500;
}

#block-block-2 {
	float: left;
}

#block-block-5 {
	float: right;
}
