// LAYOUTS

/* A modern clearfix for IE8 and up. Per http://css-tricks.com/snippets/css/clear-fix; */
.topbar:after, .main-nav:after, .header:after, .main:after, .main-prefix:after, .main-suffix:after, .main-suffix .block:after, .group:after, .block:after, .container:after {
	content: "";
	display: table;
	clear: both;
}

.container {
	width: 94%;
	margin: 0 auto;
	max-width: 1200px;
	min-width: 860px;
}

#main .container, #main-suffix .container {
	width: 860px;
	margin: 0 auto;
	padding: 0 15px;
	max-width: 96%;
}

.topbar, .main-nav, .header, .main, .main-prefix, .main-suffix, .footer {
	width: 100%;
}

.header, .main, .footer, .region, .container, .block, .views-row {
	position: relative;
}

.main, .main-prefix, .main-suffix, .footer {
	padding: 30px 0;
}

.main {
	min-height: 200px;
}


/* Topbar */

#topbar {
	font-size: 0.7em;
	padding: 5px 0;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 500;
}

.topbar .block {
	float: right;
}

.topbar #block-menu-menu-social {
	float: left;
}

.topbar .block, .topbar input {
	margin: 0;
	border: none;
}

.topbar input {
	padding: 6px 10px 7px;
}

.topbar input[type="submit"] {
	margin: 0;
}


/* Main-nav */

.main-nav {
	position: fixed;
	z-index: 101;
	line-height: 50px;
}

.header, .not-front .main {
	padding-top: 50px;
}

#logo, #site-name-slogan {
	float: left;
	margin: 0 2em 0 0;
	margin: 0 2rem 0 0;
}

.main-nav .block {
	float: right;
	margin: 0;
	font-size: 1em;
	font-size: 1rem;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 500;
}

#logo {
	width: 100px;
}

#site-name {
	font-size: 1.5em;
	font-size: 1.5rem;
	font-weight: bold;
	font-weight: 700;
	margin: 0;
	padding: 0;
	line-height: inherit;
}

.main-nav, .header {
	border-bottom: 1px solid #ddd;
}


/* Header */

.header .container {
	width: 100%;
	max-width: 100%;
}

.header #block-views-news-block {
	padding: 1em;
	padding: 1rem;
	float: right;
	width: 32%;
}

#block-views-news-block .views-row {
	padding: 0;
}


/* Flexslider */

.flexslider .views-field-body {
	position: absolute;
	top: 10%;
	right: 5%;
	width: 50%;
	font-size: 1.25em;
	font-size: 1.25rem;
}

.flexslider h1, .flexslider h2, .flexslider h3, .flexslider h4 {
	margin: 0 0 20px;
}

.flexslider .views-row {
	margin: 0;
	padding: 0;
}


/* Front page custom content */

h1.teaser--h1 {
	margin: 0 0 10px;
}


/* News node pages */

.by-line {
	margin-left: -100px;
}

.by-line .user-picture {
	float: left;
	width: 85px;
	margin: 0 15px 15px 0;
}


/* Footer */

.social-networks {
	margin-right: 1em;
	margin-right: 1rem;
}

#block-block-2, #block-block-5, .node-links ul.links li {
	font-size: 0.875em;
	font-size: 0.875rem;
	margin: 3px 0 0;
	text-transform: uppercase;
	letter-spacing: 0.05em;
	letter-spacing: 0.05rem;
	font-weight: 500;
}

#block-block-2 {
	float: left;
}

#block-block-5 {
	float: right;
}
